.shop-home-page {

  .featured-items {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: auto;

    h3 {
      text-align: center;
      font-size: 2rem;
    }

    .products {
      // height: 100px;
      margin: 35px auto;
      width: 100%;
      display: grid;
      grid-gap: 45px;
      grid-template-columns: 1fr 1fr 1fr;
      // background: red;
    }
  }
}

@media (max-width: 550px) {
  .shop-home-page {
    .featured-items {
      .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}