.shop-home-page {

  .featured-items {
    width: 90%;
    margin: 0 auto;

    h3 {
      text-align: center;
      font-size: 2rem;
    }

    .products {
      // height: 100px;
      margin: 35px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}