.user-profile {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-items: center;
  
  // background: rgb(214, 214, 214);

  .user-container {
    width: 75%;
    height: 85%;
    margin: auto auto;
    background: rgb(255, 255, 255);
    border: 1px solid black;

    .welcome {
      color: white;
      height: 15%;
      font-size: 1.5em;
      text-align: center;
      padding: 1em 0;
      background: rgb(51, 53, 75);
      font-family: 'Playfair Display', serif;
    }

    main {
      display: grid;
      padding: 15px;
      grid-gap: 15px;
      height: 85%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "order ";

      .order-details {
        grid-area: order;
        overflow: scroll;
        padding: 10px;

        .all-order-title {
          text-align: center;
        }

      }

      .all-user-info {
        overflow: scroll;

        .edit-title {
          margin-top: 10px;
          text-align: center;
        }
      }

    }

  }
}
