.login-page {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .error-message {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.1em;
    color: red;
    border: 1px solid red;
    padding: 5px;
  }

  .login-section {
    width: 60%;
    margin: 3em auto;
    // grid-area: login;
    // background: rgb(212, 212, 212);
    text-align: left;
    // padding-left: 4em;

    .login-header {
      margin: 2em 0;

      h3 {
        font-size: 1.5em;
        margin-bottom: 1em;
      }
    }

    input {
      font-size: 1.5em;
      padding: 10px;
      width: 100%;
      margin-bottom: 2em;
      border: none;
      border-bottom: 1px solid black;
    }

    .empty-input {
      border-bottom: 1px solid red;
    }

    .submit {
      border: 1px solid black;
    }


  }

}