.admin-info-box {
  display: column;
  text-align: center;
  justify-content: center;
  background: rgb(231, 231, 233);

  .title {
    font-size: 1.5em;
  }

  .info {
    padding: 1em;
    h2 {
      font-size: 4.5em;
    }
  }

  .price {
    padding: 1em;
    h2 {
      font-size: 3.8em;
    }
  }

  .customer {
    padding: 1em;
    h2 {
      font-size: 4em;
    }
  }

 
}