.admin-info-box {
  display: column;
  text-align: center;
  justify-content: center;
  background: rgb(231, 231, 233);

  .title {
    font-size: 1.5em;
  }

  h2 {
    font-size: 6.5em;
    color: rgb(255, 217, 0);
  }
}