.product-card {
  font-size: 1em;
  margin-bottom: 2em;
  p {
    margin-bottom: 5px;
  }

  .product-image {
    position: relative;

    .product-img {
      width: 100%;
    }


    .hover-add-to-cart {
      position: absolute;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(100, 236, 202, 0.801);
      text-align: center;
      bottom: 0;
      width: 100%;
      height: 50px;
      z-index: 99;
      animation: fadeUp .5s ease-out;
      color: rgba(0, 0, 0, 0.781);
      &:hover {
        background: rgb(100, 236, 202);
        color: black;
        cursor: pointer;
      }
    }

    .hover-sold-out {
      background: rgba(243, 78, 78, 0.651);

      &:hover {
        background: rgba(243, 78, 78, 0.651);
      }
    }
  }

  
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}