.cart-page {
  height: 93vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  flex-direction: column;

  .empty-cart {
    font-size: 1.1em;
  }

  .cart-items {
    margin-bottom: 40px;
  }

  .checkout {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 10em;
    width: 100%;
    margin-left: auto;
    background: rgb(241, 241, 241);

    .order-summary {
      text-align: center;
      color: rgb(107, 107, 107);
      font-size: 1.4em;
      margin-top: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgb(216, 216, 216);
    }

    .cart-total {
      font-size: 1.1em;
      padding: 1.6em;
      display: flex;
      justify-content: space-between;
      justify-items: center;
    }

    .checkout {
      margin-top: 1.5em;
      margin-bottom: 50px;

      input {
        font-size: 1.2em;
        height: 2.6em;
        background: rgb(63, 63, 63);
        color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;

        &:hover {
          background: rgb(39, 39, 39);
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .cart-page {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .checkout {
      width: 20em;
    }
  }
}
