.back-btn-container {
  width: 90%;
  margin: 10px auto 35px;
  

  .back-btn {
    color: rgba(0, 0, 0, 0.644);
    display: inline-block;

    &:hover {
      color: black;
    }
  }
}

.single-product-page {
  width: 90%;
  margin: 10px auto;

  &:hover {
    color: black;
  }

  .product-name {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  .product-price {
    text-align: center;
    margin-bottom: 25px;
  }

  .product-image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .color-wrapper {
    // padding-bottom: 40px;

    .color-container {
      border: 0.5px solid black;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      margin: 10px auto 5px;
    }

    .product-color {
      width: 25px;
      height: 25px;
      border: 0.8px solid grey;
      border-radius: 100%;
    }

    .color-text {
      text-align: center;
    }
  }

  hr {
    margin: 20px 0;
  }

  .size-wrapper {
    .product-size {
      display: flex;
      margin: 20px 0;

      .size-container {
        height: 35px;
        width: 35px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        background: rgb(36, 36, 36);
        cursor: pointer;
      }
      .size-letter {
        color: white;
        display: inline-block;
      }
    }
  }

  .add-to-cart-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .add-to-cart {
      width: 100%;
      cursor: pointer;
      color: white;
      font-size: 1.5em;
      background: rgb(36, 36, 36);
      padding: 10px;

      &:hover {
        background: black;
      }
    }
  }

  .product-description {
    .detail-title {
      font-size: 1.3rem;
      margin-bottom: 10px;
      color: rgb(82, 82, 82);
    }

    .detail-description {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 870px) {
  .single-product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 100px);
    grid-template-areas:
      "photo title"
      "photo color-wrapper"
      "photo size-wrapper"
      "photo add-to-cart"
      "photo description";

    .product-image {
      grid-area: photo;
    }

    .product-container {
      width: 100%;
      margin: 0 auto;
      grid-area: title;
    }

    .product-price {
      grid-area: product-price;
      margin: 0 auto;
    }

    .color-wrapper {
      grid-area: color-wrapper;
      width: 100%;
      // border-bottom: 1px solid black;
      margin: 0 auto;
    }
    hr {
      // display: none;
      width: 70%;
      margin: 20px auto;
    }

    .size-wrapper {
      grid-area: size-wrapper;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 60%;
      margin: 0 auto;

      .size-text {
        margin-top: 30px;
      }

      .product-size {
        .size-container {
          margin-right: 0;
        }
      }
    }

    .add-to-cart-btn {
      grid-area: add-to-cart;
      width: 100%;
      margin-top: 40px;

      .add-to-cart {
        width: 40%;
        height: 60px;
      }
    }

    .product-description {
      grid-area: description;
      width: 100%;
      .detail-title {
        width: 80%;
        margin: 15px auto;
      }
      
      .detail-description {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
