nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
  width: 90%;
  margin: 0 auto;
  position: relative;
  background: transparent;

  h1 {
    color: black;
    font-size: 1.5em;
  }

  .logo {
    font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    color: #aef8dc;
    a {
      color: rgb(157,208,195);
    }
  }

  .main-nav {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      color: rgb(157,208,195);
    }
  }

  ul li {
    display: inline-block;
    color: black;
    margin-left: 20px;
    font-size: 1em;
    text-transform: uppercase;

    a {
      color: black;
      &:hover {
        color: rgb(157,208,195);
      }
    }

    
  }

  .menu-cart {
    display: flex;
    justify-content: space-between;

    .cart-text {
      margin-right: 15px;
      a {
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
        margin-left: 2px;
        background: transparent;
  
        &:hover {
          background: rgb(39, 39, 39);
          color: white;
        }
      }
    }
  }


}

@media (min-width: 800px) {
  nav {
    .main-nav {
      display: block;
    }

    .hamburger-menu {
      display: none;
    }
  }
}