* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

button {
  outline: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
}

/************************* 
    Admin Container
*************************/

.admin-container {
  height: 90vh;
  background: rgb(255, 255, 255);
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 5fr ;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "title title title title"
    "menu container container container "
    "menu container container container "
    "menu container container container"
    "menu container container container"
}

.admin-title {
  grid-area: title;
  display: block;
  font-size: 2em;
  text-align: center;
  padding-top: 1.2em;
}

/************************* 
    Admin Menu
*************************/

.admin-menu {
  grid-area: menu;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-menu-button {
  display: flex;
  height: 100%;
  background: rgb(235, 234, 234);
  border-bottom: 1px solid rgb(173, 172, 172);
  justify-content: center;
  align-items: center;
}

.admin-menu-button:hover {
  background: rgb(243, 243, 243);
  cursor: pointer;
}


/************************* 
    Order Container
*************************/

.render-menu-container {
  grid-area: container;
  margin: 0 3em;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.admin-info-bar {
  display: grid;
  /* background: rgb(231, 231, 233); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.admin-order-component {
  overflow: scroll;
  margin: 30px 0 30px;
  background: rgb(231, 231, 233);
}

/************************* 
    Inventory Container
*************************/

.inventory-container {
  margin: 0 3em 30px;
  background: rgb(231, 231, 233);
  overflow: scroll;
}

.inventory-header {
  color: white;
  background: rgba(0, 0, 0, 0.80);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr ;
  padding: 25px;
  user-select: none;
}

#add-product-btn {
  height: 40px;
  width: 130px;
  font-size: 1em;
}

#add-product-btn:hover {
  transform: scale(1.04);
  cursor: pointer;
}



/************************* 
   SingleUser Component
*************************/
.single-user-header {
  /* position: fixed; */
  color: white;
  background: rgba(0, 0, 0, 0.80);
}

.users-container {
  margin: 0 3em 30px;
  background: rgb(231, 231, 233);
  overflow: scroll;
}

.single-user-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding: 25px;
}


.single-user:nth-child(even) {
  background: rgb(248, 248, 248);
}

#single-user-edit-btn {
  background: rgb(51, 51, 51);
  color: white;
  margin-left: auto;
  min-width: 8em;
  font-size: 1em;
  padding: 5px;
  outline: none;
}

#single-user-edit-btn:hover {
  background: green;
  cursor: pointer;
}

.single-user button:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
}

#product-edit-btn {
  margin-bottom: 5px;
}

#product-edit-btn:hover {
  background: rgb(29, 161, 62);
  cursor: pointer;
}

#product-remove-btn:hover {
  background: rgb(187, 41, 41);
}


/************************* 
 Single Product Component
*************************/

.single-product {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  padding: 25px;
}

.single-product svg:hover {
  color: rgb(15, 197, 24);
  transform: scale(1.4);
}

#quantity {
  padding: 0 10px;
}

.single-product-btn {
  font-size: 1em;
  height: 2em;
  width: 9em;
  background: rgb(48, 48, 48);
  color: white;
}

/************************* 
  Product From Container
*************************/

.product-form-container {
  background: rgba(255, 255, 255);
  border: .7px solid black;
  border-radius: 3.5px;
  width: 40%;
  position: fixed;
  top: 25%;
  left: 30%;
  width: 50%;
  height: 60%;
  z-index: 999;
  overflow: scroll;
}

.product-form-container button {
  height: 5em;
  width: 5em;
}

.product-form-container button:hover {
  background: rgb(51, 51, 51);
  color: white;
}

.product-form-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
   background: rgb(228, 228, 228);
}

.product-form-wrapper {
  padding: 2em;
}

.product-form-container input,
.product-form-container textarea {
  width: 100%;
  height: 3em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  margin-bottom: 2em;
  font-size: 1.2em;
}

#product-form-submit-btn {
  border: 1px solid rgb(42, 228, 160);
  background: rgb(42, 228, 160);
  color: white;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

#product-form-submit-btn:hover {
  background: rgb(74, 236, 177);
}

.confirm-delete {
  background: rgba(255, 255, 255);
  border: .7px solid black;
  border-radius: 3.5px;
  position: fixed;
  top: 40%;
  left: 35%;
  width: 40%;
  height: 50%;
  z-index: 999;
  overflow: scroll;
}



.confirm-delete header {
  /* background: rgb(226, 225, 225); */
  height: 40%;
  text-align: center;
  padding: 30px 0 0;
  color: rgb(255, 217, 0);
}

.confirm-delete-main {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 3em;
}

.confirm-delete-footer {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
}

.confirm-delete-footer button {
  height: 3em;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  cursor: pointer;
  max-width: 195px;
}

#confirm-delete-btn {
  width: 12em;
  background: rgb(42, 228, 160);
}

#confirm-delete-btn:hover {
  background: rgb(80, 231, 176);
  transform: scale(1.05);
}

#confirm-cancel-btn {
  width: 10em;
  background: rgb(241, 52, 52);
  
}

#confirm-cancel-btn:hover {
  background: rgb(248, 67, 67);
  transform: scale(1.05);
}








