* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/************************* 
    Admin Container
*************************/

.admin-container {
  height: 100vh;
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 5fr ;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "title title title title"
    "menu container container container "
    "menu container container container"
    "menu container container container"
}

.admin-title {
  grid-area: title;
  display: block;
  font-size: 2em;
  text-align: center;
}

/************************* 
    Admin Menu
*************************/

.admin-menu {
  grid-area: menu;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-menu-button {
  display: flex;
  height: 100%;
  background: rgb(235, 234, 234);
  border-bottom: 1px solid rgb(173, 172, 172);
  justify-content: center;
  align-items: center;
}

.admin-menu-button:hover {
  background: rgb(243, 243, 243);
  cursor: pointer;
}


/************************* 
    Order Container
*************************/

.render-menu-container {
  grid-area: container;
  margin: 0 3em;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.admin-info-bar {
  display: grid;
  /* background: rgb(231, 231, 233); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.admin-info-box {
  display: flex;
  justify-content: center;
  background: rgb(231, 231, 233);
}

.admin-order-component {
  margin: 30px 0 30px;
  background: rgb(231, 231, 233);
}

/************************* 
    Inventory Container
*************************/

.inventory-container {
  margin: 0 3em;
  background: rgb(231, 231, 233);
}






